body {
    background-image: url(../tools-table.jpg);
}

.notification-container{
    display: flex;
    height: inherit;
    align-items: center;
}

.notification-container div{
    margin: 0 auto;
}

.notification {
    text-align: center;
    color: #fffb1a;
    font-size: 55px;
    font-weight: bold;
}

a {
    color: #fffb1a;
}
